@import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    font-family: 'Andika', sans-serif;
}
body {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
}
#v-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100vh;
    margin-top: 250px;
}
#poster{
    width: 250px;
    border-radius: 20px;
    margin-bottom: 25px;
}
#content{
    width: 100%;
    height: 100vh;
    margin-top: 300px;
    padding: 0 15px;
}
#content h1{
    font-size: 32px;
}
#content h3{
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
#content span{
    font-size: 16px;
    font-weight: 700;
}
#content button{
    width: 150px;
    height: 45px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: crimson;
    border: none;
    outline: none;
    margin-top: 20px;
    margin-right: 15px;
}
#content div p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    text-align: justify;
}
#actors{
    width: 60%;
    height: 100vh;
    margin-top: 300px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}
#actors #elenco{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgActor{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: black;
    margin-right: 15px;
}
.actorInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}
.ai{
    display: flex;
    flex-direction: column;
}
button{
    cursor: pointer;
}
button:hover{
    opacity: .9;
}
button:active{
    opacity: .6;
}
#modal{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, .8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
#modal-content{
    margin: 25px auto;
    height: 90%;
    width: 90%;
}
#close{
    background: transparent;
    border: none;
    font-size: 16px;
    position: absolute;
    right: 40px;
    top: 5px;
}